[2016-03-10 20:44] tivac opened #1 "Matching seems broken"
Just installed this into `vscode@0.10.10` and I'm unable to get live OR manual matching to work.

Settings:
[code]

but even after a restart of VSCode opening a file like this shows nothing:

[code]

If I attempt to manually trigger matching I get this:

`Running the contributed command:'trailing-spaces.highlightTrailingSpaces' failed.`

I'm getting a relevant-seeming error in the debugging consol

[2016-03-10 23:29] #1 closed

[2016-03-10 23:40] shardulm94 commented on #1
I have published a new version of the extension (v0.2.0) to the marketplace. Could you please update and confirm if this is fixed?

[2016-04-14 18:28] NikosEfthias opened #2 "on linux does not remove empty lines"
if theres space after empty line removes them but does not entirely remove empty lines

[2016-04-14 19:13] shardulm94 commented on #2
@NikosEfthias This is by feature. Empty lines are usually a good practice to visually space out different regions in the code; especially between two functions or two blocks of code inside a function.

Can you provide me with a use case where deleting the whole line would be beneficial rather than just deleting the trailing spaces at the end of it?

[2016-04-14 19:15] NikosEfthias commented on #2
personally i would like to remove empty lines too i added \n into regex but it aint work is there any way to get it to work ?

[2016-04-14 19:27] shardulm94 commented on #2
Indeed, adding `\n` into the regex should have deleted the new lines. Will work on a fix for this.

[2016-04-14 19:28] NikosEfthias commented on #2
great :) thank you

[2016-04-14 19:29] NikosEfthias commented on #2
![](http://i.imgur.com/z8CR2DV.png) current setting whis doesnt work is this

[2016-04-14 23:16] #2 closed

[2016-04-14 23:32] shardulm94 commented on #2
Can you update the extension to 0.2.8 and let me know if the issue has been resolved?
Also, instead of using `[ \t\n]+` as the `regexp`, I would suggest using `[\\s]+`. This regexp would be consistent across both Unix (LF) as well as Windows (CRLF) line endings.

`[\\s]+` is effectively equivalent to `[ \t\r\n\f]+`.

[2016-04-15 03:42] NikosEfthias commented on #2
great this was what i was talking about :) thank you so much @shardulm94  i hate those blank lines :) if i vant to annotate my script i usually go with comments

Btw why  while escaping space character you used double `\` in your example `\\s`  like this i think `\s` shoud do the trick . aint ?

[2016-04-15 09:24] shardulm94 commented on #2
`' ', '\t', '\n', '\r', '\f'` are all character literals. Each of those has a corresponding ASCII value which we want to match with our regex. `\s` on the other hand is not a character literal per se, it is a meta-sequence in regex and needs to be escaped when passed as a string.

Note: While creating a `RegExp` object in javascript, you can avoid the need for escaping by using the `RegExp` litera

[2016-04-15 10:14] jrieken opened #3 "Error: Illegal value 47 for `line`"
From the vscode error telemetry

[code]

[2016-04-15 10:20] jrieken opened #4 "TypeError: Cannot read property 'document' of null"
[code]

[2016-04-15 10:55] shardulm94 commented on #3
Hi, can you help me reproduce this issue?
Maybe a sample file to reproduce this and which area was selected or where the cursor was?
Also, default settings that were overridden by you, if any.

[2016-04-15 11:56] jrieken commented on #3
Not really because this is from our automated error telemetry. Tho the error is being thrown here: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/extHostDocuments.ts#L315. So it seems like you are accessing a line that doesn't exist

[2016-04-15 12:01] shardulm94 commented on #3
Alright, I will look into it.

[2016-04-15 12:07] duanehutchins opened #5 "trimOnSave does not work with deleteModifiedLinesOnly"
If I enable both deleteModifiedLinesOnly and trimOnSave, then trimOnSave stops working.  I should think it would trim the modified lines throughout the document.

[2016-04-15 14:48] ws-perelyaynen opened #6 "Highlight error"
`No handler found for the command: 'trailing-spaces.highlightTrailingSpaces'. An extension might be missing an activation event.`
have no idea how to fix it

[2016-04-15 14:54] shardulm94 commented on #6
Hi,

May know which version of the extension you are using and also the version of vscode?

[2016-04-15 14:58] ws-perelyaynen commented on #6
Sorry, issue should be closed.
Changed  theme to  'Material Theme Kit ', all works. Thank you for fast reply =)
VScode v.1.0.0
Trailing space 0.2.8

[2016-04-15 15:05] shardulm94 commented on #6
Well, strange!
Should work with all themes. Can you let me know for which theme it was failing?
Just want to make sure that there's no conflict issue before closing.
Thanks.

[2016-04-15 15:15] ws-perelyaynen commented on #6
I started from scratch, so it was clean VS with default theme( i didn't remember, which of default themes was, but i didn't change it before)

[2016-04-15 15:19] shardulm94 commented on #6
No issues, I will try to reproduce it.

[2016-04-16 19:16] #4 closed

[2016-04-16 19:16] #5 closed

[2016-04-16 19:24] shardulm94 commented on #2
@NikosEfthias Hey, do you mind updating the review on the visual studio marketplace if this issue is resolved for you?

[2016-04-17 10:40] shardulm94 commented on #5
@duanehutchins Can you update the extension to 0.2.9 and check if this is fixed for you?

[2016-04-19 18:48] NikosEfthias commented on #2
ah yeah sorry :)

[2016-04-19 19:44] shardulm94 commented on #2
thanks :smile:

[2016-04-20 19:06] NikosEfthias commented on #2
there was an update yesterday and it again stopped working and this time highlighting wont work either im using ubuntu 15.10

[2016-04-20 19:51] shardulm94 commented on #2
Well, that is strange! I am not able to reproduce it on the latest version of the extension. Can you post all your settings related to trailing spaces? Also, if you have a log of the same, it may help me dig deeper.

[2016-04-20 19:54] NikosEfthias commented on #2
![](http://i.imgur.com/Vl7LCBT.png)

and as you see it wont highlight the line or spaces

[2016-04-20 19:57] shardulm94 commented on #2
Can you go to Help > Toggle Developer Tools and check what errors it is displaying?

[2016-04-20 20:01] NikosEfthias commented on #2
![](http://i.imgur.com/tlSewC4.png)

[2016-04-20 20:08] shardulm94 commented on #2
@NikosEfthias Sorry that I have to bug you again! Only because I am not able to reproduce it! Can you expand the error that is shown? It will help me fetch the line where it is originating.

Also, I will setup a linux virtual machine tomorrow to test the extension there.

[2016-04-20 20:10] NikosEfthias commented on #2
![](http://i.imgur.com/635V3oz.png) i dont know if thats helpfull but i also see the its originating from threadService.ts line 199

[2016-04-20 20:14] shardulm94 commented on #2
Sadly that doesn't clear things up much :(
I will only be able to check this tomorrow as I don't have access to my desktop today.

[2016-04-20 20:15] NikosEfthias commented on #2
its okay anyway im gonna sleep too soon its midnight here

[2016-04-21 19:04] shardulm94 commented on #2
@NikosEfthias Not able to reproduce this on a fresh ubuntu 15.10. Can you just try reinstalling the extension?

[2016-04-21 19:41] NikosEfthias commented on #2
now its working after reinstalling @shardulm94

[2016-04-21 19:44] shardulm94 commented on #2
Not sure why it failed. Maybe there was some issue with how the update was handled.

[2016-04-21 19:45] NikosEfthias commented on #2
the weirdest thing is that it worked a day after update and then started to fail

[2016-04-21 19:47] shardulm94 commented on #2
Hmm! Yes, that's weirder! :confused: Will keep an eye out for this.

[2016-04-21 19:48] NikosEfthias commented on #2
you got the error message :)

[2016-04-22 08:12] NikosEfthias opened #7 "on split window view trailing-space extension throws exception"
![](https://camo.githubusercontent.com/045dbfd65429ae578bd814dbef74a9e1a09234f8/687474703a2f2f692e696d6775722e636f6d2f36333556336f7a2e706e67)

[2016-04-22 08:14] shardulm94 commented on #7
On the git diff view? or just any split editor?

[2016-04-22 08:15] NikosEfthias commented on #7
i just splitted the editor in order to edit 2 files simultaneously and it crashed

[2016-04-22 08:17] shardulm94 commented on #7
Thanks! will investigate this on linux tonight. Not able to reproduce on windows. Thanks for this! You have been a great help!

[2016-04-22 08:18] NikosEfthias commented on #7
:) i thank you for this extension

[2016-04-22 08:20] shardulm94 opened #8 "Error while freezing on disk version for untitled or diff files"
Add handling to ignore modified lines only feature for files with `isUntitled: true`

[2016-04-22 18:59] shardulm94 commented on #7
Not able to reproduce. Certainly looks like some issue with the extension. Will keep this open for now and investigate further.

[2016-04-22 20:57] #8 closed

[2016-04-27 17:50] NikosEfthias commented on #7
![](http://i.imgur.com/eqEmC6O.png) again this error started and this time completely i cannot use extension even after  removing and installing back

[2016-04-27 18:48] shardulm94 commented on #7
@NikosEfthias The extension is not able to read its configuration. Pretty sure this issue is directly related to [this issue in vscode](https://github.com/Microsoft/vscode/issues/5649). The May release of vscode should fix it.

[2016-04-27 22:21] shardulm94 commented on #7
Also, I was successfully able to reproduce it in the insiders build. Will keep an eye on this when the new version releases.

[2016-04-28 11:24] NikosEfthias commented on #7
so at the moment we are waiting for a new release :)

[2016-05-05 10:16] shardulm94 commented on #3
Fixed in https://github.com/Microsoft/vscode/issues/5362 https://github.com/Microsoft/vscode/commit/b02c4facaf2c3b983af7f8e6617bf54ce2261259

[2016-05-05 10:16] #3 closed

[2016-05-05 10:37] shardulm94 commented on #6
Fixed in https://github.com/shardulm94/vscode-trailingspaces/commit/f9e048451eba2892cf8370c5adc08add7bd1ba32

[2016-05-05 10:37] #6 closed

[2016-05-11 19:52] shardulm94 commented on #7
Fixed by https://github.com/Microsoft/vscode/commit/957653954a359386045cabe6684b280414d6083d https://github.com/Microsoft/vscode/issues/5649
Updating VSCode to the latest version should resolve it.

[2016-05-11 19:52] #7 closed

[2017-02-24 19:36] matthova opened #10 "Not ignoring "markdown" syntax"
Using version 0.2.11
Trailing spaces are still being removed from markdown file after updating user settings and restarting VSCode.

Currently have the following in user settings

{
  "editor.trimAutoWhitespace": true,
  "editor.renderWhitespace": "all",
  "editor.tabSize": 2,
  "files.trimTrailingWhitespace": true,
  "window.zoomLevel": 0,
  "workbench.welcome.enabled": false,
  "trailing-spaces.

[2017-02-27 17:53] matthova commented on #10
This issue was with my settings above.
"files.trimTrailingWhitespace": true was conflicting with the trailing space plugin and deleting spaces on the markdown file.

[2017-02-27 17:53] #10 closed

[2017-05-07 19:52] marcelocantos opened #11 "Unnecessary status bar noise: "No trailing spaces to delete!""
Whenever I save, the status bar reports "No trailing spaces to delete!". This message serves no purpose and merely adds distracting noise to the status bar. Is there any chance of removing it or making it optional?

This message comes up even when there are trailing spaces (immediately after a "Deleting…" message, which flashes momentarily), but don't want to see it under either circumstance.

[2017-05-08 16:23] shardulm94 commented on #11
Agreed. The "No trailing spaces to delete!" message on saving is unnecessary. Planned new behavior -
On file save, if there were trailing spaces, the "Deleted..." message will be shown. If there were no trailing spaces, no message will be shown.
When the functionality is explicitly called using the "Delete Trailing Spaces" command, "No trailing spaces to delete!" message will still be shown as a f

[2017-07-26 16:22] Shulin opened #12 "Change highlight color"
It'd be great to be able to change the highlight color!

Thanks for porting this plugin over!~

[2017-09-05 07:19] jayden2 opened #13 "Option to turn off highlighting errors for spaces before a line"
For example, between brackets properties can be put on a new line:

![screenshot from 2017-09-05 15-13-57](https://user-images.githubusercontent.com/11433659/30049384-071e2ec0-924d-11e7-88c3-bea1e7354017.png)

when using spaces this can mean an odd number of spaces to line up with a bracket, right now this happens because the spaces before default and editable properties would be red.

Suggestion

[2017-09-22 04:27] aminimalanimal commented on #12
Would also be great to be able to prevent highlighting at all (useful if you just let it trim them on save).

[2017-09-23 16:42] grokky1 commented on #11
Would be nice to have an option to turn this off completely.

[2017-09-23 16:45] shardulm94 commented on #11
Sorry, this is taking so much time. Grad school is getting to me. I have this functionality setup in the develop branch but don't want to release anything before I test thoroughly. I will try to get this out next week.

[2017-09-23 16:54] grokky1 commented on #11
@shardulm94 Don't worry about it, it's not that important. 😆

I enjoy the extension regardless of this minor issue... Thanks. 👍

[2017-12-22 11:45] SanderBeekhuis opened #14 "FEATURE: Trim all lines except current cursor line"
Hi, thanks for this great extension.

I use a workflow where i let vs code autosave often and let your extension trim on save. This works like a charm, except when I start a new line and then pause for a bit.

Is it possible to make a setting that trims all lines except for the one with the cursor on it. Similar to the setting for highlighting you already have  `trailing-spaces.highlightCurrentLin

[2017-12-22 11:55] SanderBeekhuis commented on #14
Actually the core `trimTrailingWhitespace`. Seems to do the trick. So I set trailing-whitespaces to highlighting only mode.

[2017-12-22 11:55] #14 closed

[2018-03-07 03:37] Matsuyanagi opened #15 "Delete only the trailing spaces within the selected range."
If there is a selected range, I want the function to delete only within that range.

ex. Text file containing source code fragments.

[2018-07-14 01:10] kankaristo opened #18 "Feature: Ignore by path"
Thanks for a great extension! This was one of the final things I was missing when moving from Atom to VSCode.

One feature I'd still like to see is to be able to ignore files based on their path. So, something similar to `trailing-spaces.syntaxIgnore`, but for file paths (a regex would be fantastic).

I'd like to highlight and "trim on save" for all of my own code, but if I'm modifying thirdparty

[2018-08-17 13:30] banks opened #19 "Crashes extension host all the time since last VSCode update"
Hi,

First off, this may not be an issue with this extension at all but it seems most likely based on what I can see.

I've used this extension for ages (at least a year) with no issues. Until this week I have never has any issues.

Since the latest VSCode update this week (to Version 1.26.0), I get errors the "Extension host terminated unexpectedly" very often (every few minutes) and I have to re

[2018-08-17 13:40] banks commented on #19
Hmm I uninstalled completely and still see extension host crashes now with no errors in log.

So I don't think these errors are responsible for that crash but they may be useful/worth fixing anyway? If not feel free to close.

[2018-09-08 02:15] lumodon opened #20 "Bug: Command not found"
## Bug
Extension no longer works. Whitespace not being highlighted. Upon attempting `Command+Shift+P` and trying `> Trailing Spaces: Highlight` I receive the following error:
[code]

Mac OsX - Visual Studio Code Version 1.26.1 (1.26.1)
Trailing Spaces 0.2.11

<img width="1280" alt="trailingspaceserror" src="https://user-images.githubusercontent.com/10302608/45249256-542e5900-b2d2-11e8-92be-5e3e924

[2018-09-10 13:52] Duracell1989 commented on #19
I've had the same issue after upgrading VSCode from 1.26.1 to 1.27.1
Just like @banks; disabling the extensions didn't fix the problem.
But; [cleaning/deleting the workspace](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory) did the trick for me.

[2018-09-14 22:02] pewscorner opened #21 "trimOnSave doesn't work"
The extension is failing so badly that it is completely unusable for me. I'm using these non-default settings:

    "trailing-spaces.trimOnSave": true,
    "trailing-spaces.deleteModifiedLinesOnly": true,

When I save a file, I expect the extension to remove all trailing spaces on lines modified since the last save. And I expect the spaces to be removed immediately *before* the file is saved, so t

[2018-10-03 20:36] pzelnip opened #22 "ENOENT: no such file or directory, open 'rendererLog'"
This is reported to be an error from this extension according to https://github.com/Microsoft/vscode/issues/58346

Having now uninstalled the trailing spaces extension I haven't seen the error recur for me, which is consistent with the hypothesis that it's related to this extension.

[2018-10-10 00:20] insert0003 commented on #20
I meet same issue on Ubuntu 16.04,  vscode 1.27.2, Trailing Spaces 0.2.11

[2018-10-25 13:57] ColCh opened #23 "Throws in settings.json editor"
When open some settings as json file, this extension throws an exception

[code]

[2018-11-27 01:19] kenokabe commented on #3
@shardulm94 Hi,
I still have this issue: https://github.com/Microsoft/vscode/issues/5362

The second one has the correct file and selection, but in the first event the file and selection do not match.

I am using
[code]

Is this really fixed? Thanks!

[2018-12-08 22:21] nkkollaw opened #24 "trimOnSave trims _after_ save instead of before"
I think this is what the problem is.

I have trimOnSave on, and when I hit save it does trim whitespace, but it modifies the file and I have to hit save again.

[2018-12-16 06:03] crystalfp commented on #22
In the log you find:
[code]
Indeed it seems the error has no visible consequences. Only annoying.

[2019-02-07 11:15] Peter92 opened #25 "Ignore text in the output window"
I've noticed that the output window is also affected by the extension. It's not something that can be controlled by normal users, so it'd be nice if it was disabled (if possible), but maybe with an option to re-enable if you do actually require it.

Here's an example of what I mean:

![image](https://user-images.githubusercontent.com/10235666/52407800-2475be00-2ac9-11e9-88d8-39a006704a2b.png)

[2019-02-16 09:59] gimbo commented on #11
Hello! I'd just like to add my vote to this one, if there's any chance of making it happen... Loving the extension otherwise, many thanks for this great work!

[2019-02-21 05:51] fuminchao commented on #19
same error when executing "Delete Modified lines only"
I have tried cleaning the workspace completely
[code]

[2019-03-26 12:23] ameily commented on #24
I'm seeing this as well and it's pretty annoying. This must be a recent change since I don't remember having to save twice for the trimmed file to actually be saved to disk.

[2019-03-26 12:48] nkkollaw commented on #24
Not sure, the repo hasn't been touched in 3 years. Something happened, though. Probably not a change in the plugin but in some other API.

[2019-03-27 01:48] ameily commented on #24
I tracked the problem down. @nkkollaw I think you're right, something internal to VSCode API changed.

The problem is here: https://github.com/shardulm94/vscode-trailingspaces/blob/master/src/trailing-spaces/trailing-spaces.ts#L115. The call to `this.deleteTrailingSpaces` is not waited on, which is causing the trim operation to occur *after* the call to `document.save()`, which returns `false` bec

[2019-03-27 02:42] ameily commented on #24
Ok, I lied, I submited a PR. If this project doesn't have an maintainer then I'll consider forking and maintaining it myself.

[2019-03-27 07:51] nkkollaw commented on #24
https://goo.gl/images/3mnmiv

Awesome job, man! It drove me crazy.

[2019-03-28 07:29] shardulm94 commented on #25
@Peter92 It is not intended for the extension to highlight trailing spaces in the output window. Based on the VSCode APIs being used, the output windows would never be accessed. Can you provide some steps to reproduce the issue?

[2019-03-28 20:08] shardulm94 commented on #25
Okay it seems like the VSCode API considers output windows as text editors. Microsoft/vscode#36579
I will try to see if there is a way I can differentiate between an editor and an output window using the API.

[2019-03-28 20:13] shardulm94 commented on #13
Sorry for responding so late, but I cannot reproduce this.
![image](https://user-images.githubusercontent.com/6961317/55189421-20762c00-515b-11e9-907c-29c3b90fc993.png)

Can you share the settings for the extension? I suspect the regexp setting may be modified.

[2019-03-28 20:17] shardulm94 commented on #19
@fuminchao Can you try to see if the new beta release has the same issue? The stacktrace indicates an error in the diff library being used in this extension. I upgraded the library version in the beta release.
https://github.com/shardulm94/vscode-trailingspaces/releases/tag/v0.3.0-rc1
https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix

[2019-03-28 20:21] shardulm94 commented on #20
@lumodon Sorry for the late response. I am not able to reproduce the issue on my end. Is this still an issue? Can you try to see if the new beta release has the same issue?
https://github.com/shardulm94/vscode-trailingspaces/releases/tag/v0.3.0-rc1
https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix

[2019-03-28 20:24] shardulm94 commented on #23
Duplicates #22

[2019-03-28 20:24] #23 closed

[2019-03-28 20:31] shardulm94 commented on #11
I am working on fixing this. I think the status bar message is especially important when the user explicitly triggers the command. The message serves as feedback loop to the users action, even when there is nothing to delete. It is also important when using the "Trim on save" feature since we are modifying the user's file, but I agree it is noise when there are no spaces to delete in this case.

W

[2019-03-29 00:22] shardulm94 commented on #11
@gimbo Can you try to see if the new beta release solves this?
https://github.com/shardulm94/vscode-trailingspaces/releases/tag/v0.3.0-rc2
https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix

[2019-03-29 01:40] shardulm94 commented on #12
Thanks @yustnip for your PR. I included your changes in 7ead91faf1848b095753114efea89675efc055d6.
@Shulin @aminimalanimal  Can you try to see if the new beta release solves this?
https://github.com/shardulm94/vscode-trailingspaces/releases/tag/v0.3.0-rc3
https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix

[2019-03-29 01:45] shardulm94 commented on #24
@nkkollaw You can test this out with the beta release which uses the new VSCode API to applying pre-save edits.
https://github.com/shardulm94/vscode-trailingspaces/releases/tag/v0.3.0-rc3
https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix

[2019-03-29 06:19] shardulm94 commented on #22
Found the root cause here. VSCode also considers output windows as text editors according to Microsoft/vscode#36579. The extension was trying to read the path provided for these editors, but these paths are not file paths. They are probably in memory, hence `No such file or directory`. The extension now only tries to read the file if the scheme is `file`. This should fix the issue.
You can test th

[2019-03-29 07:38] crystalfp commented on #22
RC3 works! Thanks for your investigative work.

[2019-04-02 03:09] fuminchao commented on #19
@shardulm94
The error was gone on 0.3.0-rc1 👍

[2019-04-02 05:15] shardulm94 commented on #19
@fuminchao Thanks for verifying! Will be officially release this weekend.

[2019-04-02 05:15] #19 closed

[2019-04-02 05:16] shardulm94 commented on #22
@crystalfp Thanks for verifying! Should be officially released this weekend.

[2019-04-02 05:16] #22 closed

[2019-04-02 09:08] nkkollaw commented on #24
Works great, man! Good job! :-)

[2019-04-02 09:08] #24 closed

[2019-04-03 05:00] shardulm94 commented on #25
@Peter92 Added a new option `trailing-spaces.schemeIgnore` to support this. You can ignore the `output` scheme to disable highlighting in output windows. This is planned for release in [`v0.3.0`](../milestone/1). Can you try to see if the new beta release resolves this?
https://github.com/shardulm94/vscode-trailingspaces/releases/tag/v0.3.0-rc4
https://code.visualstudio.com/docs/editor/extension-g

[2019-04-03 15:10] Peter92 commented on #25
Ah nice one, just tried it and it works fine :)

A suggestion for before you fully release it, keep the `schemeIgnore` list for advanced users, but open up the main schemes as checkboxes, perhaps with all but the main window disabled by default.

[2019-04-04 07:32] gimbo commented on #11
@shardulm94 Hi there - sorry for delay, but yes, I can confirm that that release does solve it - it seems totally silent even when it _does_ trim space on save.

[2019-04-06 18:53] shardulm94 commented on #25
I don't think opening up schemes as checkboxes is scalable. I think the way to disable schemes is easy enough for non-advanced users to understand. I made one change, now it will ignore `output` schemes by default since it was not intended to be highlighted in the first place.

[2019-04-06 19:03] #25 closed

[2019-04-07 01:33] shardulm94 commented on #12
Released in v0.3.0 available in marketplace

[2019-04-07 01:33] #12 closed

[2019-04-07 02:00] shardulm94 commented on #11
Released in v0.3.0 available in marketplace

[2019-04-07 02:00] #11 closed

[2019-04-07 02:01] shardulm94 commented on #20
c

[2019-04-07 02:01] #20 closed

[2019-04-07 02:02] shardulm94 commented on #13
Please re-open if you still face this issue after updating to v0.3.0 which is now available in the marketplace.

[2019-04-07 02:02] #13 closed

[2019-04-08 03:19] gggin commented on #18
maybe a regex matcher for whole file path, so everyone can slove their own problems.

[2019-04-08 08:21] gggin opened #29 "trimOnSave on new version vscode doesn't work"
Version: 1.33.0
Commit: 0dd516dd412d42323fc3464531b1c715d51c4c1a
Date: 2019-04-04T15:08:57.775Z
Electron: 3.1.6
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Linux x64 4.15.0-43-generic

only on config:
"trailing-spaces.trimOnSave": true,

[2019-04-08 14:43] shardulm94 commented on #29
I am not able to reproduce this. Can you provide more information?
Does highlighting work? Is there any status bar message you see? If you go to `Help > Toggle Developer Tools` is there any error message you see?

[2019-04-09 01:33] gggin commented on #29
Ok, I found that if I save file on my own the trimOnSave is ok. but I use this
[code]
Origin version vscode is good, vscode autosave will trigger trimOnSave, but this version fails.

[2019-04-09 03:39] shardulm94 commented on #29
Ohk... yes that makes sense. In v0.3.0, we changed to a newer VSCode API will allows the extension to apply pre-save edits rather than saving files twice.
https://github.com/shardulm94/vscode-trailingspaces/blob/master/src/trailing-spaces/loader.ts#L87
However, I only check for saves which are triggered manually and not automatically. I guess to be backwards compatible with older versions, I can e

[2019-04-09 03:51] shardulm94 commented on #29
Fixed in fbf81ba534b57d2ebbc8dfaf46ad69f90cf9aa43
Can you check if the latest beta release fixes this?
https://github.com/shardulm94/vscode-trailingspaces/releases/tag/v0.3.1-rc1
https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix

[2019-04-09 05:02] gggin commented on #29
it's fixed. Thank you very much.

[2019-04-09 05:02] #29 closed

[2019-04-13 11:55] esemlabel commented on #21
[code]

[2019-05-22 19:00] Luifr commented on #14
@SanderBeekhuis the problem with `files.trimTrailingWhitespace` is that it ignores non modified lines, like this option: `"trailing-spaces.deleteModifiedLinesOnly": true`

I suggest opening this as issue/feature request

[2019-05-23 21:23] SanderBeekhuis commented on #14
@Luifr I like the way it works. I don't mind it deleting whitespace in the whole file. Feel free to make an issue yourself if you don´t like the way it works. :)

[2019-06-18 08:56] Gruntfuggly opened #31 "Feature request: highlight entire line"
Hi - firstly, thanks for a really useful extension.

Is it possible to add an option to highlight the entire line (maybe with a less opaque background colour) if it contains trailing spaces? I use a very small font and quite often I miss single trailing spaces, and unfortunately I can't use trim on save because it's legacy code base meaning we need to keep changes to a minimum.

[2019-06-20 07:25] cheng10 opened #32 "feature request: add `no highlight` option"
Hi, I found your tool very useful. I mainly use it to trim trailing whitespaces in modified lines.

However, I do not need the highlight function which is constantly enforced in VS code. The highlight can be distracting but I do not really care about it since I enabled the `trim on save` option.  I couldn't find a place to turn the highlight off while keeping the `trim on save` function.

It would

[2019-06-28 12:57] Gruntfuggly commented on #32
You know vscode has a built in trim on save?
`"files.trimTrailingWhitespace": true`
unless you're also using the trim modified lines only feature of course...

[2019-06-28 14:08] yaboojp opened #33 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `trailing-spaces`
- Extension Version: `0.3.1`
- OS Version: `Darwin x64 17.7.0`
- VSCode version: `1.35.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/Users/hisashi/shardulm94.trailing-spaces-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-

[2019-06-30 04:42] cheng10 commented on #32
Yes, I specifically need trim on modified lines, as I do not want to modify other people's lines because trivial issues like trailing white spaces.

[2019-06-30 09:22] Gruntfuggly commented on #32
Fair enough - I have the same problem (legacy codebases!).

You can specify the highlight colour (and border) with an alpha value, so setting it to 0.0 will make them invisible.

[2019-07-11 19:30] shardulm94 commented on #33
Can you attach the CPU profiling file as mentioned in the description?

[2020-01-16 09:30] Asaf-S opened #34 "Bug: TrimOnSave causes cursor movement when VS Code's Auto-Save option is enabled"
Hey man, great extension! It makes it more fun to code...
I'm having a small problem with it when VS Code's Auto-Save option is enabled.

Let's say I've defined a new function (and placed the cursor as illustrated below):
[code]

If I take a moment to think, VS Code saves the file as expected, and therefore the trailing whitespace is trimmed (expected) - however the whitespace before of the cursor

[2020-02-03 11:58] Peter92 opened #35 "Ignore docstrings/multiline text"
Not sure if this is within the scope of the extension, but I don't think the `Include Empty Lines` option should affect multiline strings. I just noticed it now with a docstring in Python (any text wrapped within triple quotes), where it makes sense still matching the indent even if there's no text on the line.

Here's an [example](https://imgur.com/nkE8Ri9) of what I mean.

[2020-02-03 12:04] Peter92 commented on #35
Actually, I was just [looking into this](https://www.python.org/dev/peps/pep-0257/#id18) and found it's supposed to be trimmed. I'll not close this straight away in case you decide to implement the idea, but it's not actually needed :)

[2020-02-09 20:20] #35 closed

[2020-02-10 01:37] pablospe commented on #21
I confirm this doesn't work for me neither. If trimOnSave is true, then trailing spaces are removed for whole file.

[2020-04-17 20:33] halilim opened #37 "Feature Request: Do not highlight in git diff"
To reproduce:

1. Remove some code & stage the changes in a file with trailing spaces
2. Source Control (Ctrl+Shift+G)

Actual: Both removed code and the trailing spaces are in red, making it harder to understand if the trailing spaces were removed, or if it's the extension that is highlighting them. The giveaway is that the code removals are highlighted only on the left pane, while trailing space

[2020-04-19 19:32] patbl commented on #14
I'm confused. How do you trim trailing whitespace on all lines except the current one?

Enabling `files.trimTrailingWhitespace` trims trailing whitespace on all lines including the current one.

[2020-05-05 09:30] viccol961 opened #39 "LiveShare contributed code highlighted"
LiveShare contributed code is entirely highlighted, not only white spaces, as shows the following picture :

<img src="https://i.imgur.com/pS5Dyc9.png" alt="https://i.imgur.com/pS5Dyc9.png">

[2020-05-27 13:49] pelco opened #40 "Sticky highlighted trailing spaces after font zooming"
If we have some text with highlighted trailing spaces like:
![image](https://user-images.githubusercontent.com/16528048/83027500-19310380-a028-11ea-8b63-1a3a56155022.png)

If we zoom the font using `ctrl +` or `ctrl -`
![image](https://user-images.githubusercontent.com/16528048/83027532-1fbf7b00-a028-11ea-8171-bc0867ee574f.png)

Those highlighted trailing spaces won't disappear and will highlight

[2020-05-27 19:45] shardulm94 commented on #40
Able to reproduce. Thanks for reporting! The only workaround I can think of for now is to close and reopen the file after zoom level change or reload the window.

[2020-06-04 09:01] pelco commented on #40
Yes, but it doesn't seem to be a good fix!

[2020-06-05 12:16] kAlvaro commented on #21
Unless I'm missing something, either directives are ignored altogether. Saving the file whipes out every trailing space, no matter the settings.

[2020-07-13 14:51] mitchellsimoens commented on #34
I am running up against this same issue and thought of the same solution (do not trim where the cursor is).

[2020-07-13 20:09] Asaf-S commented on #34
Since then, I've found that there's such an option in VSCode without extensions.
It's called: editor.trimAutoWhitespace

[2020-07-13 20:09] #34 closed

[2020-08-25 18:07] albertcito opened #41 "Ignore by extension or Ignore .*mdx"
I'm working with [*.mdx](https://mdxjs.com/) files that is   _Markdown_  file. I added the [Ignore Syntax](https://github.com/shardulm94/vscode-trailingspaces#ignore-syntax) for this kind of files and it works with *.md files but not with *.mdx files.  Is there a way to ignore files by extension?. Thanks.

[2020-08-25 18:32] shardulm94 commented on #41
@albertcito Trailing spaces uses VSCode's language identifiers for this feature. In this case, seems like VSCode does not associate .mdx files to Markdown by default. You can change the language association for mdx files to Markdown in your VSCode settings and that should fix it.

![image](https://user-images.githubusercontent.com/6961317/91213530-9707b800-e6c6-11ea-9aa2-231b16e77c4b.png)

[2020-08-25 18:36] albertcito commented on #41
That works perfect. Thank you a lot!

[2020-09-20 17:14] bryango commented on #14
I also find that `files.trimTrailingWhitespace` is not working for me; the current line seems to be trimmed as well!

[2020-11-16 12:02] aboettger-tuhh opened #42 "add option to disable trim current line on autosave"
Please add an option
- [ ] dont't  trim current line on autosave

[2021-01-30 15:34] mplellison opened #43 "Only the first line of each block of modified lines is trimmed when deleteModifiedLinesOnly is set."
For example, when pasting in a block of text with trailing spaces, only the first line of the block is trimmed.

PR to follow.

[2021-02-19 13:34] Wastus commented on #18
The only missing bit for everything working without issues.

[2021-03-13 23:19] abrahammurciano commented on #40
I know this is not very helpful, but I find that this happens sometimes to me without necessarily changing the zoom. it's rare enough that it's not annoying to reopen the file, and I've not been able to determine what triggers it, but I thought you should know that it does happen other times too.

[2021-03-23 08:37] seanhamlin commented on #42
Yes please. This is super annoying when autosave is on (even with a delay). I guess a 'fix' is to not autosave as often, however I would much prefer the trimmer to have the above mentioned option. That would be ace.

[2021-03-23 13:59] NotWearingPants opened #45 "Feature request: Highlight only modified lines"
There is the option to only trim the modified lines, but when I'm looking at other people's code which I don't want to change, I still see the highlights which make it harder for me to read the code.

I'd love for the option to highlight only lines I've modified

[2021-03-23 14:04] NotWearingPants opened #46 "Feature request: Trim the current line when moving away from it"
There is a feature to trim only modified lines, but I'd love for it to do it automatically when I'm done editing a line (i.e. move my cursor to a different line), instead of running the command after editing everything.

[2021-03-26 16:10] NotWearingPants opened #47 "highlightCurrentLine ignores multiple cursors"
When `trailing-spaces.deleteModifiedLinesOnly` is `false`, trailing spaces in the current line are not highlighted, but if there's more than one "current line" since there are multiple cursors, only the primary cursor has its highlight hidden.
![image](https://user-images.githubusercontent.com/26556598/112660567-a7ebf800-8e66-11eb-8494-101c102092d0.png)

[2021-04-08 15:14] RyanMcCall opened #48 "Incorrectly highlights trailing spaces in triple quoted strings"
<img width="481" alt="Screen Shot 2021-04-08 at 10 12 45 AM" src="https://user-images.githubusercontent.com/24989392/114051734-f92abd00-9852-11eb-9e62-6a1e79e915b9.png">

As shown above, in Python 3, the trailing spaces on the triple quoted string are hightlighted.

[2021-04-18 18:50] Temulgeh commented on #14
This is now a bit old, but same thing here. It's not a big issue but it's still kind of annoying.

[2021-11-13 00:15] markhilkert commented on #21
This feature works for me. When I save, it only deletes lines I modified, not existing whitespace.

[2021-11-13 11:59] pewscorner commented on #21
For me it still behaves like I described in the 2019-04-14 update - it doesn't trim all modified lines.

[2022-04-11 23:55] reitermarkus opened #55 "Don't trim escaped spaces."
In a bash script, escaped spaces should not be trimmed since this can break a valid command, e.g.

[code]

[2022-04-12 00:10] reitermarkus opened #56 "Don't trim when using exactly 2 spaces in Markdown for line breaks."
Currently, the only way to avoid trimming line breaks using 2 spaces in Markdown is to exclude all Markdown files.

Given that the only issue arises when trimming exactly 2 spaces, it should be possible to only trim lines in Markdown files which don't end with exactly 2 spaces.

[2022-04-17 14:00] sena-v opened #57 "Unable to transition from VSCode market to this repository"
Because the link referring to the repository in `package.json` has a "git+" prefix, it is not possible to transition directly to the repository from the VSCode market.

[code]

Is this code intended?　Please correct if possible.

[2022-07-08 07:42] #41 closed

[2022-07-08 08:11] #43 closed

[2022-07-08 23:13] shardulm94 commented on #57
Fixed in the latest update

[2022-07-08 23:13] #57 closed

[2022-07-08 23:17] shardulm94 commented on #21
@pewscorner Do you observe the behavior as mentioned in https://github.com/shardulm94/vscode-trailingspaces/issues/43? If yes, this should be fixed in `0.4.0`.

[2022-07-08 23:20] shardulm94 commented on #32
As @Gruntfuggly suggested, setting the alpha value (last parameter) of the color values to `0` should make them invisible.
E.g. `rgba(255,255,255,0)`

[2022-07-08 23:20] #32 closed

[2022-07-09 01:05] shardulm94 commented on #33
Closing since the report does not include the CPU profile file.

[2022-07-09 01:05] #33 closed

[2022-07-09 01:20] shardulm94 commented on #40
Thanks @abrahammurciano. This was not related to zoom level specifically, but could occur after any setting in VSCode is changed (including zoom level).

[2022-07-09 01:22] shardulm94 commented on #39
I am not able to reproduce this issue. I used LiveShare and the highlighting works as expected. Perhaps this is the same issue as #40 in which highlighted regions become permanent if any VSCode setting is changed. Any code type within a preexisiting region will continue to be highlighted.

Can you confirm if this is the same as #40? Or else provide a way to reproduce the issue?

[2022-07-09 01:23] #40 closed

[2022-07-09 03:04] #47 closed

[2022-07-09 11:16] pewscorner commented on #21
@shardulm94 I did a quick test, and it seems this #21 issue is gone in `0.4.0`. Thanks!

[2022-07-10 01:37] #21 closed

[2022-07-11 09:52] osumko opened #65 "trimOnSave doesn't work #21 reopened"
#21
It kind of work but not completely.

It did trim only modified lines, but once I revert changes back to original state by hitting cmd+z or "Revert change" from popup, it still conciders those line changes as mine and I'm no longer able to save file without triming that line. The only way to skip trimming is to run git reset on file.

[2022-07-12 14:57] shardulm94 commented on #65
Can you elaborate more with some examples of your scenario?

Based on what I understand till now, this issue not really related to #21, which was more about `deleteModifiedLinesOnly` not identifying some lines as modified.

I think the behavior you see is expected. `deleteModifiedLinesOnly` identifies the lines you have changed since the last save and trims only those lines. Using `Ctrl + Z` to re

[2022-07-12 15:00] osumko commented on #65
I undertand. Maybe my explanation isn't ideal, but anyway, it still triggers trim even though I undo my changes. So I would commit changes that I didn't intend to commit just because I ever touch that line.

[2022-08-07 19:45] bum8hj opened #66 "Feature Request: Add Unhighlight command"
Sometimes I don't care about trailing spaces in certain files, and the only way I can hide them is by disabling the extension.
### **It would be great if the Highlight command was a toggle**

[2022-09-19 07:16] parmentelat commented on #56
I was about to suggest the same thing exactly

is there currently a way to specify the regexp on a per-language basis ?
like - thinking aloud mostly here -
if `trailing-spaces.markdown.regexp` is defined, then it would take precedence over the global regexp